_Challange1/Ai_Ch1/flows 2 1.json
[
    {
        "id": "1b759a5f8a468675",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da7f5b6ab87ecb12",
        "type": "telegram receiver",
        "z": "1b759a5f8a468675",
        "name": "",
        "bot": "365b68c0390d720c",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "42ee4d4132a9df24",
                "6458f2067db44515"
            ],
            []
        ]
    },
    {
        "id": "6d38f0423a23fa1b",
        "type": "telegram sender",
        "z": "1b759a5f8a468675",
        "name": "",
        "bot": "365b68c0390d720c",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1110,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d8e984ef7c451679",
        "type": "function",
        "z": "1b759a5f8a468675",
        "name": "function 6",
        "func": "msg.payload = {\n    \"content\": msg.payload.output.generic[0].text,\n    \"chatId\": msg.params.session_id,\n    \"type\": \"message\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 460,
        "wires": [
            [
                "6d38f0423a23fa1b",
                "d641cdb892da7a5d"
            ]
        ]
    },
    {
        "id": "d641cdb892da7a5d",
        "type": "debug",
        "z": "1b759a5f8a468675",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 380,
        "wires": []
    },
    {
        "id": "5676e6a5d7e625e7",
        "type": "function",
        "z": "1b759a5f8a468675",
        "name": "function 7",
        "func": "msg.params = {\n    \"session_id\": msg.payload.chatId,\n    \"type\": \"voice\"\n}\nmsg.payload = msg.payload.weblink\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 280,
        "wires": [
            [
                "a8376a94c301f4ec",
                "0ec8b2de19cc8d64"
            ]
        ]
    },
    {
        "id": "a8376a94c301f4ec",
        "type": "debug",
        "z": "1b759a5f8a468675",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "4514e0a7827cf492",
        "type": "debug",
        "z": "1b759a5f8a468675",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "42ee4d4132a9df24",
        "type": "switch",
        "z": "1b759a5f8a468675",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "photo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "animation",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sticker",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 290,
        "y": 420,
        "wires": [
            [
                "5676e6a5d7e625e7"
            ],
            [
                "0f462c3f4446b20b"
            ],
            [
                "22f06a6f37855d8d"
            ],
            [
                "22f9ab1a381262b9"
            ],
            [
                "22f9ab1a381262b9"
            ]
        ]
    },
    {
        "id": "6458f2067db44515",
        "type": "debug",
        "z": "1b759a5f8a468675",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 160,
        "y": 340,
        "wires": []
    },
    {
        "id": "0f462c3f4446b20b",
        "type": "function",
        "z": "1b759a5f8a468675",
        "name": "function 20",
        "func": "msg.params = {\n    \"session_id\": msg.payload.chatId\n}\nmsg.payload = msg.payload.content\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 460,
        "wires": [
            [
                "fb5337d2dac3fa7f",
                "c575647061ca7523"
            ]
        ]
    },
    {
        "id": "fb5337d2dac3fa7f",
        "type": "watson-assistant-v2",
        "z": "1b759a5f8a468675",
        "name": "",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/d1c95b1c-016b-4936-92c5-4a17d1ce7697",
        "assistant_id": "125915d4-a676-44b0-97a0-7cc7019a6b18",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "2d084a78d2f269ac",
                "d8e984ef7c451679"
            ]
        ]
    },
    {
        "id": "c575647061ca7523",
        "type": "debug",
        "z": "1b759a5f8a468675",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 380,
        "wires": []
    },
    {
        "id": "2d084a78d2f269ac",
        "type": "debug",
        "z": "1b759a5f8a468675",
        "name": "debug 47",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "0ec8b2de19cc8d64",
        "type": "watson-speech-to-text",
        "z": "1b759a5f8a468675",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "NarrowbandModel",
        "bandhidden": "NarrowbandModel",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "DYqB8go1TvalSBBZ6FX8l4AuJ79mYyzifWIA8uL0E15M",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/00089234-3b2e-4c88-a059-418d09b01989",
        "x": 700,
        "y": 280,
        "wires": [
            [
                "4514e0a7827cf492",
                "dca37e256d873a93"
            ]
        ]
    },
    {
        "id": "4c8eb18deb582a30",
        "type": "function",
        "z": "1b759a5f8a468675",
        "name": "function 21",
        "func": "msg.payload = msg.payload.output.generic[0].text\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 280,
        "wires": [
            [
                "b35aa0edd87453df",
                "d87b58b268827f6e"
            ]
        ]
    },
    {
        "id": "b35aa0edd87453df",
        "type": "debug",
        "z": "1b759a5f8a468675",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "dca37e256d873a93",
        "type": "watson-assistant-v2",
        "z": "1b759a5f8a468675",
        "name": "",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/d1c95b1c-016b-4936-92c5-4a17d1ce7697",
        "assistant_id": "125915d4-a676-44b0-97a0-7cc7019a6b18",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 910,
        "y": 280,
        "wires": [
            [
                "06ead62a538a9d3f",
                "4c8eb18deb582a30"
            ]
        ]
    },
    {
        "id": "06ead62a538a9d3f",
        "type": "debug",
        "z": "1b759a5f8a468675",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 200,
        "wires": []
    },
    {
        "id": "f5d90dcb91a1a53b",
        "type": "telegram sender",
        "z": "1b759a5f8a468675",
        "name": "",
        "bot": "365b68c0390d720c",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1750,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e6d6f2c3ac1bacf1",
        "type": "debug",
        "z": "1b759a5f8a468675",
        "name": "debug 52",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 200,
        "wires": []
    },
    {
        "id": "d87b58b268827f6e",
        "type": "watson-text-to-speech",
        "z": "1b759a5f8a468675",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/mp3",
        "password": "",
        "apikey": "qrdTRxWEZK2BST2IAvS5yRi41_aiqAsnRKQHHQtSVAsB",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/4ea26c6b-4a9b-4501-a35f-e536b401db4b",
        "x": 1320,
        "y": 280,
        "wires": [
            [
                "e6d6f2c3ac1bacf1",
                "d52bc2380169b17c"
            ]
        ]
    },
    {
        "id": "d52bc2380169b17c",
        "type": "function",
        "z": "1b759a5f8a468675",
        "name": "function 22",
        "func": "msg.payload = {\n    \"content\": msg.payload,\n    \"type\": \"voice\",\n    \"chatId\": msg.params.session_id,\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 280,
        "wires": [
            [
                "f5d90dcb91a1a53b",
                "0c706067cd66953e"
            ]
        ]
    },
    {
        "id": "0c706067cd66953e",
        "type": "debug",
        "z": "1b759a5f8a468675",
        "name": "debug 54",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 200,
        "wires": []
    },
    {
        "id": "74b048b646290546",
        "type": "telegram sender",
        "z": "1b759a5f8a468675",
        "name": "",
        "bot": "365b68c0390d720c",
        "haserroroutput": false,
        "outputs": 1,
        "x": 810,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "22f06a6f37855d8d",
        "type": "function",
        "z": "1b759a5f8a468675",
        "name": "function 23",
        "func": "msg.payload = {\n    \"content\": \"Meus criadores ainda não me ensinaram a ver imagens.\",\n    \"chatId\": msg.payload.chatId,\n    \"type\": \"message\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 600,
        "wires": [
            [
                "74b048b646290546",
                "7b4bf1fb3a01e46b"
            ]
        ]
    },
    {
        "id": "7b4bf1fb3a01e46b",
        "type": "debug",
        "z": "1b759a5f8a468675",
        "name": "debug 56",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 540,
        "wires": []
    },
    {
        "id": "e13e64bd59360e4d",
        "type": "telegram sender",
        "z": "1b759a5f8a468675",
        "name": "",
        "bot": "365b68c0390d720c",
        "haserroroutput": false,
        "outputs": 1,
        "x": 810,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "22f9ab1a381262b9",
        "type": "function",
        "z": "1b759a5f8a468675",
        "name": "function 25",
        "func": "msg.payload = {\n    \"content\": \"Ainda não aprendi o humor dos humanos...\",\n    \"chatId\": msg.payload.chatId,\n    \"type\": \"message\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 740,
        "wires": [
            [
                "e13e64bd59360e4d",
                "f94333796d89aa2e"
            ]
        ]
    },
    {
        "id": "f94333796d89aa2e",
        "type": "debug",
        "z": "1b759a5f8a468675",
        "name": "debug 59",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 680,
        "wires": []
    },
    {
        "id": "365b68c0390d720c",
        "type": "telegram bot",
        "botname": "true_fiap_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]